.DS_Store
.Rhistory
.RData
.Rproj.user/
*.html
*.pdf
*.png
*.jpg
*.jpeg
*.tiff
*.zip
*.tar.gz
*.fastq
*.fq
*.fastq.gz
*.fq.gz
*.bam
*.sam
*.rds
*.RDS
outputs/*
!outputs/README.md
data/*
!data/README.md
